header {
    text-align: center;
  }
  
  body{
    height: 500px;
  }
  
  
  .container {
    width: auto;
    background-color: #fdfdfd;
    height:100%;
  }
  
  .form {
    display: flex;
    justify-content: center;
    height: auto;
  }

  .table {
    padding: 40px;
    margin-top: 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: auto;
    padding-bottom: 50px;
  
  }

  select {
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    border: 1px solid #ccc;
  }
  
  input {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 0;
    text-align: center;
    width: max-content
  }
  
  #btn-tambah {
    background-color: #FDE237;
    width: 100%;
  }
  
  #btn-pesan {
    background-color: #3352FF;
    width: 100%;
    color: white;
  }
  
  .btn-delete {
    margin-top: 10px;
    padding: 2px 12px !important;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border: 2px solid #ff2c2c
  }
  
  #btn-tambah:hover {
    background-color: #D4BD2D;
  }

  #btn-pesan:hover {
    background-color: #2236A8;
  }
  
  
  
  .pad-right {
    padding-right: 10px;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .form-prdk::after {
    content: "";
    clear: both;
    display: table;
  }
  

  
  .jumlah {
    margin: 5px;
  }
  
  .pd-top {
    margin-top: 18px;
  }
  .cont-3 {
    padding-left: 30px;
  }
